@charset "utf-8";

* {-webkit-text-size-adjust:none; margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size:14px; font: inherit; vertical-align: baseline; line-height: 140%;}

/* layout */
html, body{
    font-family:"Malgun Gothic",Arial,sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
    line-height: 140%;
}
button,input,textarea,select{
    font-family:"Malgun Gothic",Arial,sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 140%;
}

/* link */
a{color:#666;text-decoration:none;}
a:link, a:visited, a:active{color:#666; text-decoration: none;}
a:hover{color:#666;}

/* HTML5 display-role reset for older browsers */
ul,li,dl,dt,dd{list-style: none;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul { list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

.clearfix{zoom:1;}
.clearfix:after{content:"";display:block; clear:both;}


/* common */
.contents_box{max-width: 1200px; margin: auto;  position: relative;}
.contents_box:after{content: ""; display: block; clear: both;}
.circle{border-radius: 50%;}
.pc_hidden{ display: none;}
@media screen and (max-width: 768px){
    .pc_hidden{ display:block;}
}


/* layout */
#footer{background-color: #222; border-top: 1px solid #666; padding: 40px 0;}
#footer .bottom_logo {float: left; position: absolute; left: 0; top:50%; margin-top: -15px;}
#footer .bottom_logo img{height: 30px;}
#footer .companyInfo{padding-left: 200px; color: #999;}
#footer .companyInfo li{float: left; line-height: 140%;}
#footer .companyInfo li:after{display: inline-block; content: '/'; padding: 0 10px;}
#footer .companyInfo li:last-child:after{display: none;}

@media screen and (max-width: 768px){
    #footer{background-color: #222; border-top: 1px solid #666; padding:20px 0;}
    #footer .bottom_logo {float:none; position:static; left: 0; top:auto; margin-top:0px; text-align: center;}
    #footer .bottom_logo img{height: 30px;}
    #footer .companyInfo{padding-left:0px; padding-top: 10px; text-align: center; font-size: 14px;}
    #footer .companyInfo li{float:none; line-height: 160%;}
    #footer .companyInfo li:after{display: none;}
    #footer .companyInfo li:last-child:after{display: none;}
    #footer .copyright{padding-top: 5px; font-size: 12px; margin: 0;}
}

