/* import fonts */

/* reset */
html, body{
    font-family:"Malgun Gothic",Arial,sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
}
button,input,textarea,select{
    font-family:"Malgun Gothic",Arial,sans-serif;
    font-size: 14px;
    color: #666;}

/* link */
a{color:#666;text-decoration:none;}
a:link, a:visited, a:active{color:#666; text-decoration: none;}
a:hover{color:#666;}

/* common */
.contents_box{max-width: 1200px; margin: auto;  position: relative;}
.contents_box:after{content: ""; display: block; clear: both;}
.pc_hidden{ display: none;}
@media screen and (max-width: 768px){
    .pc_hidden{ display:block;}
}

/* layout */
#header{position:absolute;  display: block; width: 100%; z-index: 10; left: 0; top: 0;}
#header .mobile_menu{position: absolute; right: 10px; top: 10px; display: none;}
#header .mobile_menu a{display: block; color: #222; font-size: 30px; display: block; width: 40px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #c4c4c4; border-radius: 3px;}
#header .header_top{background: rgba(0,0,0,0.5); transition:all 0.2s linear;border-bottom: 1px solid rgba(255, 255, 255, 0.09);}
#header .logoArea{float: left;}
#header .logoArea a.logo{position: relative; display: inline-block;}
#header .logoArea a.logo img{height:30px; position: absolute; left: 0; top: 0;}
#header .logoArea a.logo img.logo-02{display: none;}

#header.fixed{position: fixed; border-bottom: 1px solid rgba(0,0,0,0.2)}
#header.fixed .header_top{ background-color: rgba(255,255,255,1)}
#header.fixed .logoArea a.logo img.logo-01{display: none;}
#header.fixed .logoArea a.logo img.logo-02{display:block;}
#header.fixed .gnb>ul>li>a{color: #666;}
#header.fixed .gnb>ul>li>a:hover{color: #222;}
#header.fixed .gnb>ul ul{border: 1px solid rgba(0,0,0,0.2); border-top: none;}

#header .gnb{float: right;}
#header .gnb>ul>li{float: left;}
#header .gnb>ul>li>a{color:rgba(255,255,255,0.7); transition: all 0.20s linear; display: block; text-align: center; padding: 0 20px; line-height: 60px; cursor: pointer;}
#header .gnb>ul>li>a:hover{background: rgba(255,255,255,0.1); opacity: 1; color:#fff;}
#header .gnb>ul ul {position: absolute; top: 60px; display: none;}
#header .gnb>ul li ul li {background:rgba(255,255,255,0.8);border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;box-sizing: border-box; min-width: 100%;}
#header .gnb>ul>li.submenu>a:after{content: "\f004"; display: inline-block; font-family:'mfg'; margin-left: 5px; font-size: 11px; font-weight: 100; line-height: 100%;}
#header .gnb>ul li ul li.sub-submenu{padding-right: 20px;}
#header .gnb>ul li ul li.sub-submenu > a:after{content: "\f006"; display: inline-block; font-family:'mfg'; font-size: 11px; font-weight: 100; position: absolute; right: 10px;  line-height: 100%; top: 37%}

#header .gnb>ul li ul li:last-child {border-bottom: 0;}
#header .gnb>ul li ul li a{color: rgba(0,0,0, 0.5);display: block;line-height: 40px;padding-left: 10px;cursor: pointer;}
#header .gnb>ul li ul li a:hover{color: rgba(0,0,0,1);}
#header .gnb>ul li ul li ul{position: absolute; width: 100%; top: 0; left: 100%; display: none;}
#header .gnb>ul li ul li ul li{border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;}
#index-visual{}
#visual{height:  300px; overflow: hidden; position: relative; background-size:cover !important; z-index: 1; display: table; width: 100%;}
#visual .visual_contents{display: table-cell; vertical-align: middle;}
#visual .contents_box{}
#visual .visual_txt{color:#fff; position: relative; z-index: 10; padding-top: 30px;}
#visual .visual_txt .contents_box{}
#visual .visual_txt h2{font-size: 50px; margin-bottom: 10px;}
#visual:after{content: "";position: absolute;top: 0;left: 0;z-index: 2;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);}
#location{border-bottom: 1px solid #ccc;  background-color: #fafafa;}
#location p{text-align: right; font-weight: 100; height:34px; line-height:34px; font-size: 12px; color: #666;  padding: 0 20px;}
#location p i{padding: 0 3px;}
#location p span.home{color: #222;}
#footer{background-color: #222; border-top: 1px solid #666; padding: 40px 0;}
#footer .bottom_logo {float: left; position: absolute; left: 0; top:50%; margin-top: -15px;}
#footer .bottom_logo img{height: 30px;}
#footer .companyInfo{padding-left: 200px; color: #999;}
#footer .companyInfo li{float: left; line-height: 140%;}
#footer .companyInfo li:after{display: inline-block; content: '/'; padding: 0 10px;}
#footer .companyInfo li:last-child:after{display: none;}
#fade{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; z-index: 100;}
@media screen and (max-width: 768px){


    #header{position:relative !important;  display: block; width: 100%; z-index: 10; left: 0; top: 0;}
    #header .mobile_menu{position: absolute; right: 10px; top: 10px; display:block; z-index: 10;}
    #header .mobile_menu a{display: block; color: #222; font-size: 30px; display: block; width: 40px; height: 40px; text-align: center; line-height: 40px;}
    #header .mobile_menu a.active{color: #09f;}
    #header .header_top{height:auto; line-height:100%;  background:#fff; transition:all 0.2s linear;border-bottom: 1px solid rgba(255, 255, 255, 0.09);}
    #header .logoArea{float: none;}
    #header .logoArea a.logo{position: relative; display: inline-block; text-align: left; padding: 15px 0 15px 10px; float: left;}
    #header .logoArea a.logo img{height:30px; position:static; left: 0; top: 0;}
    #header .logoArea a.logo img.logo-01{display: none;}
    #header .logoArea a.logo img.logo-02{display:block;}
    #header .gnb{float:none; display: none;}
    #header .gnb>ul>li{float:none; border-bottom: 1px solid #f4f4f4; text-align: center;}
    #header .gnb>ul>li>a{color:#666; transition: all 0.20s linear; display: block; text-align: center; padding: 10px 0; line-height:140%; cursor: pointer;}
    #header .gnb>ul>li>a:hover{background: rgba(255,255,255,0.1); opacity: 1; color:#333;}
    #header .gnb>ul ul {position:static; top: 60px; display: none; border-top: 1px solid rgba(0,0,0,0.1); }
    #header .gnb>ul li ul li {background:rgba(0,0,0,0.05);border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;box-sizing: border-box; min-width: 100%;}
    #header .gnb>ul>li.submenu>a:after{content: "\f004"; display: inline-block; font-family:'mfg'; margin-left: 5px; font-size: 11px; font-weight: 100; line-height: 100%;}
    #header .gnb>ul li ul li.sub-submenu{padding-right:0px;}
    #header .gnb>ul li ul li.sub-submenu > a:after{content: "\f004"; display: inline-block; font-family:'mfg'; font-size: 11px; font-weight: 100; position:static; margin-left: 5px; right: 10px;  line-height: 100%; top: 37%;}
    #header .gnb>ul li ul li:last-child {border-bottom: 0;}
    #header .gnb>ul li ul li a{color: rgba(0,0,0, 0.5);display: block;line-height: 40px;padding-left:0px;cursor: pointer;}
    #header .gnb>ul li ul li a:hover{color: rgba(0,0,0,1);}
    #header .gnb>ul li ul li ul{position:static; width: 100%; top: 0; left: 100%; display: none;}
    #header .gnb>ul li ul li ul li{border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;}

    #visual{height:200px; overflow: hidden; position: relative; background-size:cover; z-index: 1; display: table; width: 100%;}
    #visual .visual_contents{display: table-cell; vertical-align: middle;}
    #visual .contents_box{}
    #visual .visual_bg{position: absolute; width: 100%; left: 0; top: 0; z-index: 1;}
    #visual .visual_bg img{width: 100%;}
    #visual .visual_txt{color:#fff; position: relative; z-index: 10; padding-top:0px; padding: 0 10px}
    #visual .visual_txt .contents_box{}
    #visual .visual_txt h2{font-size: 30px; margin-bottom:0px;}
    #visual .visual_txt .sub_title{font-size: 14px;}
    #visual:after{content: "";position: absolute;top: 0;left: 0;z-index: 2;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);}
    #location{border-bottom: 1px solid #ccc;  background-color: #fafafa;}
    #location p{text-align: right; font-weight: 100; height:34px; line-height:34px; font-size: 12px; color: #666;  padding: 0 10px;}
    #location p i{padding: 0 3px;}
    #location p span.home{color: #222;}

    #footer{background-color: #222; border-top: 1px solid #666; padding:20px 0;}
    #footer .bottom_logo {float:none; position:static; left: 0; top:auto; margin-top:0px; text-align: center;}
    #footer .bottom_logo img{height: 30px;}
    #footer .companyInfo{padding-left:0px; padding-top: 10px; text-align: center; font-size: 12px;}
    #footer .companyInfo li{float:none; line-height: 160%;}
    #footer .companyInfo li:after{display: none;}
    #footer .companyInfo li:last-child:after{display: none;}
    #footer .copyright{padding-top: 5px; font-size: 11px;}


}
